/* html {
    font-size: 56%;
} */
* {
    margin: 0%;
}
input {
    border-style: none;
    background-color: #fff;
    /* box-shadow: 1px 1px 8px 2px rgba(128, 128, 128, 0.05); */
    border-radius: 8px;
    color: #2c5445;
    /* outline: 1px solid rgb(182, 182, 182); */
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
}
table {
    height: 90%;
}
label {
    color: #2c5445;
    font-size: 14px;
    font-weight: 500;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}
button {
    cursor: pointer;
    border-style: none;
}
#cart :hover, #profile :hover{
    background-color: #ffc642;
    /* padding: 10px;    */
    border-radius: 5px;
}
#sign_in :hover {
    background-color: #ffc642;
    padding: 5px;
    border-radius: 5px;
    width: 100px;
}
#sign_in a {
    border: 1px solid #3f7863 ;
    padding: 5px;
    border-radius: 5px;
}
.sign_options_body {
    background-color: #fff7ed;
}
body {
    margin-top: 50px;   
    background-color: rgb(249 250 251);
    color: #2c5445;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji" ;
    /* background: linear-gradient(to top right, rgb(255, 248, 248), rgb(8, 8, 56)); */
    /* box-shadow: 1px 2px 8px 2px #808080ab; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
header {
   background-color: #ffffff;
   box-shadow: 0 10px 15px -3px rgb(0 0 0 / .1), 0 4px 6px -4px rgb(0 0 0 / .1);
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   z-index: 99;
   width: auto;
   padding: 15px 30px;
}
nav {
    display: flex;
    justify-content: space-between ;
    align-items: center;
}
.right_nav ul{
    list-style: none;
}
.right_nav ul li {
    display: inline-block; 
}
.right_nav ul li a {
    position: relative;
    text-decoration: none;
    justify-content: center;
    color: #374151;
    font-size: 16px;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    font-weight: 500;
    padding: 10px;
    /* transition: 0.2s all ; */
}
/* .right_nav ul li a::before{
    position: absolute;
    bottom: 0;
    right: 0;
    content: ''; 
    width: 0;
    height: 3px;
    background-color: #060635; ;
} */
.right_nav ul li a:hover{
    color: #3f7863;
    width: 100%;
}
.right_nav {
    /* margin-left: 500px; */
}
.menu{
    display: none;
}
.left_nav {
    margin-left: 50px;
}
.left_nav h1 {
    font-size: 32px;
    color:  #3f7863;
    /* align-self: center; */
}
.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    padding: 30px;
    justify-self: center;
}
.left_hero {
    justify-content: center;
    margin: auto;
}
.book{
    padding: 10px 10px 10px 0px ;
    font-size: 50px;
}
.hero_content h1 {
    font-size: 60px;
    color: #3f7863;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}
.hero_content p {
    color: #374151;
    font-size: 20px;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    padding-top: 10px;
    line-height: 20px;
}
.action {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 30%;
}
.hero_content_action {
    display: grid;
    grid-template-rows: 2fr 1fr;
}
.action {
    padding: 20px 0px 0px 0px;
}
.browse_products {
    padding: 5px;
}
.view_cart {
    padding: 5px;
}
.browse_products:hover button {
    background-color:  #3f7863e6;
    --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / .1), 0 8px 10px -6px rgb(0 0 0 / .1);
    --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.browse_products button {
    width: 230px;
    height: 44px;
    border-style: none;
    border-radius: 8px;
    background-color:  #3f7863;
    color: #fff;
}
.browse_products button p {
    font-size: 18px;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    /* font-style: italic;   */
}
.view_cart button p {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    font-size: 18px;
    font-weight: 500;
    /* font-style: italic; */
}
.view_cart:hover  button {
    background-color: #ffc642;
}
.view_cart button {
    width: 150px;
    height: 44px;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    border-style: none;
    border-radius: 8px;
    background-color: #ffffff;
    border: 2px solid #3f7863 ;
    color: #3f7863;
    transition: all 0.3s ease-out;
}
.right_hero{
    display: flex;
    justify-content: center;
    position: relative;
    width: 500px;
    height: 400px;
    align-items: center;
}
.right_hero img {
    width: 500px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 2px #0000001e;
}
.icon_1 {
    position: absolute;
    top: -30px;
    right: -30px ;
    /* filter: blur(30px); */
    /* backdrop-filter: blur(10px); */
    background-color: #ffffff83;
    border-radius: 80%;
    padding: 10px;
    box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.4);
    font-size: 30px;
    /* box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.4); */
}
.icon_2 {
    position: absolute;
    bottom: -20px;
    left: -30px;
    background-color: #ffffff83 ;
    border-radius: 80%;
    padding: 10px;
    box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.4);
    font-size: 30px;
    box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.4);
}
.featured {
    padding: 30px;
}
.featured_head h2 {
    color: #3f7863;
    justify-self: center;
    font-size: 36px;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}
.featured_books {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;    
    justify-content: center;
}
.inspirational_section, .educational_section, .romance_section {
    display: grid;
    margin: 10px;
    grid-template-rows: 3fr 2fr 1fr ; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px 10px 2px rgba(128, 128, 128, 0.144);
    transition: 0.5s all ease-out;
}
.inspirational_section:hover, 
.educational_section:hover, 
.romance_section:hover{
    transform: translate(0px, -10px);
    box-shadow: 0px 10px 20px 2px rgba(128, 128, 128, 0.452);
}
.inspirational_section:hover img, 
.educational_section:hover img, 
.romance_section:hover img {
    transform: scale(110%);
}
.featured_grid {
    width: fit-content;
    height: fit-content;
    position: relative;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.inspirational_image, .educational_image, .romance_image {
    height: 250px;
}
.inspirational_image img, .educational_image img, .romance_image img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: 0.5s all ease-out;
}
.inspirational_header, .educational_header, .romance_header {
    background-color: #e1e1f7;
    width: 100px;
    height: 25px ;
    border-radius: 30px;
    padding: 10px 0px 5px 15px;
    position: absolute;
    left: 4px;
    top: 6px;
    z-index: 1;
}
.inspirational_header p, .educational_header p, .romance_header p {
    color: #12125a;
}
.inspirational_image img, .educational_image img, .romance_image img {
    height: 250px;
    width: 400px;
}
.inspirational_content, .educational_content, .romance_content {
    background-color: #ffffff;
    height: 167px;
    width: 400px;
}
.inspirational_title h2, .educational_title h2, .romance_title h2 {
    padding: 10px 0px 10px 60px;
    font-size: 28px;
    color: #12125a;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.inspirational_text p, .educational_text p, .romance_text p {
    padding: 10px 0px 10px 60px;
    font-size: 15px;
    line-height: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.inspirational_pricing_action, .educational_pricing_action, .romance_pricing_action {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    width: 400px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.inspirational_pricing_action h3, .educational_pricing_action h3, .romance_pricing_action h3{
    padding-left: 50px;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #12125a;
}
.inspirational_pricing_action button, .educational_pricing_action button, .romance_pricing_action button {
    margin-right: 50px;
    width: 100px;
    height: 34px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #3f3f88;
    border-style: none;
} 
.inspirational_pricing_action button:hover,
.educational_pricing_action button:hover,
.romance_pricing_action button:hover {
    background-color: #a0a0f7;
}
.educational_title h2 {
    padding: 10px 0px 10px 67px;
}
.romance_header {
    width: 78px;
}
.romance_title h2 {
    padding: 10px 0px 10px 90px;
}
footer {
    background-color: #ffffff;
}
.footer_top {
    /* display: grid;
    grid-template-columns: 2fr 1fr; */
    background-color: #fff7ed;
    padding: 5px, 80px;
}
.footer_left {
    padding: 30px;
}
.footer_left h2 {
    color: #3f7863;
    justify-self: center ;
    font-size: 36px;
    margin-bottom: 30px;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}
.footer_left p {
    padding: 5px;
    text-align: center;
    /* line-height: 25px; */
    font-size: 18px;
    color: #374151;
    font-weight: none;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}
.footer_right {
    padding: 30px 0px 30px 30px ;
    justify-self: center;
}
.footer_right ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}
.footer_right ul li {
    font-size: 19px;
    font-style: italic;
    padding: 30px;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}
.footer_bottom {
    justify-items: center;
    /* background-image: linear-gradient( to top left, rgb(0, 0, 0), rgb(222, 220, 253)), url('./librabry.jpg'); */
    background-color: #3f7863;
    color: #ffffff;
}
.footer_bottom h3 {
    justify-self: center;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}
.body_background_color {
    background-color: #fff7ed;
}
.head {
    margin: 65px;
    padding-top: 40px;
}
.head_title {
    justify-items: center;
}
.head_title h3 {
    font-size: 48px;
    color: #3f7863;
    font-weight: 700;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.head_text {
    justify-self: center;
    justify-items: center;
    font-size: 17px;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #374151;
    font-size: 20px;
    padding: 10px;
}
.hero_header {
    display: flex;
    justify-content: space-between;
    justify-self: center;
    align-items: center ;
    background-color: #ffffff;
    padding: 25px;
    border-radius: 20px;
    width: 80%;
    box-shadow: 0 4px 6px -4px   #0000001a;
    margin: 10px;
    box-shadow: 0 10px 15px -3px #0000001a;
}
.hero_search {
    padding: 0px 15px;
    width: 50%;
}
.search {
    background-color: #ffffff;
    width: 100%;
}
.search input {
    border-style: none;
    color: #374151;
    border-radius: 20px;
    border:1px solid #3f786333;
    background-color: #fff;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    padding: 10px;
    /* outline-color: #3f786333; */
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    height: 40px;
}
.search input:focus {
    outline-color: #3f7863;
}
.hero_header_nav a {
    padding: 10px;
    text-decoration: none;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #3f7863;
    /* background-color: #3f7863; */
    border: 1px solid #3f7863;
    background-color: #fff;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 500;
}
.hero_header_nav a:focus {
    background-color: #3f7863;
    color: #ffffff;
}
.form_order_history_account_stats_quick_actions {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
    /* width: 80%;
    height: 100%; */
    justify-self: center;
}
.whole {
    margin: 0px 8%;
}
.hero_form_header h3 {
    /* font-size: 45px;
    color: #12125a;
    font-family: monospace; */
    /* padding-left: 2%;     */
    margin: 30px;
    font-size: 30px;
    /* justify-self: center; */
    color: #3f7863;
    margin-top: 100px;
    margin-left: 110px;
    font-weight: 700;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.form_footer_section {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}
.footer_order_history {
    border: 2px solid #e6e6e6 ;
    background-color: #fff;
    border-radius: 8px;
    height: fit-content;
    width: 100%;
    justify-self: center;
}
.footer_order_history_header {
    padding: 20px;
}
.footer_order_history_header h3 {
    font-size: 24px;
    /* justify-self: center; */
    color: #2c5445;
    align-self: center;
    font-weight: 600;
}
.order_1 {
    background-color: #fff;
    box-shadow: 3px 3px 8px 2px #8080803b;
    padding: 15px;
    margin: 10px;
}
/* .status_delivered {
    background-color: #8282ec;
    border-radius: 5px;
}
.status_processing {
    background-color: #fda92a;
    border-radius: 5px;
} */
.status_processing p {
    padding: 5px;
    color: #854d0e;
    font-size: 12px;
    justify-self: center;
    border-radius: 8px ;
    background-color: #fef9c3;
}
.status_delivered p {
    padding: 5px;
    font-size: 12px;
    background-color: #dcfce7;
    border-radius: 8px ;
    justify-self: center;
    color: #166534;
}
.date p , .items p{
    color: #4b5563;
    font-size: 14px;
}
.name_date_and_price_status {
    display: flex;
    justify-content: space-between;
}
.price h4{
    color: #3f7863;
    font-size: 16px;
    font-weight: 600;
    padding: 5px;
}
.items {
    padding: 10px;
}
.order_2 {
    background-color: #fff;
    box-shadow: 3px 3px 8px 2px #8080803b;
    padding: 15px;
    margin: 10px;
}
.order_3 {
    background-color: #fff;
    box-shadow: 3px 3px 8px 2px #8080803b;
    padding: 15px;
    margin: 10px;
}
.profile_span {
    font-size: 24px;
    font-weight: 600;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}
.profile_form {
    /* border: 2px solid #e6e6e6; */
    /* padding: 20px; */
    border-radius: 8px;
    background-color: #fff;
    /* height: 90%; */
}
.profile_form table {
    /* height: 100%; */
}
.profile_form div button {
    justify-self: center;
    padding: 10px;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    background-color: #ffffff;
    color: #2c5445;
}
.input_for_firstname input, .input_for_lastname input, .input_for_city input, .input_for_state input {
    width: 90%;
    padding: 10px 10px;
}
.email_input, .phone_input, .confirm_password_input, .password_input, .address_input  {
    padding: 10px 0;
    color: #2c5445;
}
.input_for_email input, .input_for_phone input, .input_for_address input, .input_for_confirm_password input, .input_for_password input {
    width: 95%;
    padding: 10px 10px; 
}
table {
    width: 100%;
}
.account_stats_and_quick_actions {
    display: grid;
    grid-row: 1fr 1fr;
    height: 50%;
    /* margin: 5px 5px 5px 10px; */
}
.account_stats{
    background-color: #fff;
    border-radius: 8px;
    border: 2px solid #e6e6e6 ;
    padding: 30px;
    margin: 0px 0px 10px 10px;
}
.account_stats_head h3 {
    font-size: 24px;
    color: #2c5445;
    font-weight: 600;
    align-self: center;
}
.total_orders ,
.total_spent ,
.member_since {
    justify-self: center;
    justify-items: center;
    width: fit-content;
}
.total_orders h4,
.total_spent h4 ,
.member_since h4 {
    font-size: 24px;
    color: #3f7863;
}
.total_orders p , 
.total_spent p ,
.member_since p {
    font-size: 14px;
    color: #4b5563;
}   
.quick_actions {
    margin: 10px 0px 10px 10px;
    border-radius: 8px;
    border: 2px solid #e6e6e6 ;
    background-color: #fff;
    padding: 20px;
}
.quick_actions_head {
    width: 230px;
}
.quick_actions_head h3 {
    font-size: 24px;
    color: #2c5445;
    font-weight: 600;
    align-self: center;
}
.quick_actions_content button{
    border-style: none;
    border: 2px solid #e6e6e6 ;
    background-color: #ffffff;
    color: #2c5445;
    padding: 10px;
    border-radius: 10px;
    width: 230px;
    font-size: 15px;
    padding: 10px;
    margin: 10px;
}
.quick_actions_content :hover button {
    background-color: #ffc642;
}

.sign_in_hero, .sign_up_hero{
    background-color: #fff;
    /* width: fit-content; */
    justify-self: center;
    align-self: center;
    box-sizing: border-box;
    padding: 30px;
    width: 50%;
    border: 1px solid #e6e6e6 ;
    border-radius: 8px;
}
.sign_in_hero label, .sign_up_hero label {
    color: #2c5445;
    font-size: 14px;
    font-weight: 500;
}
.sign_in_header h1, .sign_up_header h1 {
    justify-self: center;
    font-size: 24px;
    color: #3f7863;
    font-weight: 700;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}
.sign_in_description p, .sign_up_description p {
    justify-self: center;
    font-size: 16px;
    padding: 20px;
    color: #4b5563;
    /* font-style: italic; */
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}
.sign_in_button, .sign_up_button{
    justify-self: center;
    padding: 15px;
    width: 100%;
    color: oklch(98.511% 0.00011 271.152) ;
}
.sign_in_button button, .sign_up_button button {
    width: 80%;
    padding: 10px;
    margin-left: 40px;
    color: #fafafa !important;
    border-radius: 10px;
    background-color: #3f7863 !important;
    box-shadow: 3px 3px 8px 2px rgba(128, 128, 128, 0.363);
}
.sign_in_button button:hover{
     background-color: #3f7863e6 !important  ;
     box-shadow: 0px 4px 8px 2px rgba(128, 128, 128, 0.363);
}
.sign_up_button button:hover {
     background-color: #3f7863e6!important;
     box-shadow: 0px 4px 8px 2px rgba(128, 128, 128, 0.363);
}
.sign_in_footer p, .sign_up_footer p {
    justify-content: center;
    font-size: 14px !important ;
}
.sign_in_sign_up p {
    justify-self: center;
    color: #4b5563;
    font-size: 16px;
    font-style: italic;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}
.forgot_password {
    justify-self: center;
    font-style: italic;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}
.sign_in_email_input, .sign_in_password_input {
    padding: 10px;
}
.email_password input {
    font-size: 14px;
    width: 90%;
    outline-color:#3f7863 ;
    height: auto;
    padding: 10px;
}
.input_for_password input, .input_for_confirm_password input {
    width: 95%;
    outline-color:#3f7863 ;
    height: 37px;
}
.sign_up_form_top{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 10px;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#books, #booksHome {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* grid-template-columns: 1fr 1fr 1fr; */
    gap: 10px;
    padding: 10px
}
#booksHome {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* grid-template-columns: 1fr 1fr 1fr; */
    gap: 30px;
    padding: 10px
}
.entire_books {
    margin-top: 5px;
    background-color: rgb(255, 255, 255);
    width: 300px; 
    position: relative;
    border-radius: 10px;
    transition: 0.5s all ease-out;
    box-shadow: 3px 3px 8px 2px rgba(128, 128, 128, 0.103);
    justify-self: center;
}
.entire_books:hover {
    transform: translate(0px, -10px);
    box-shadow: 0px 10px 20px 2px rgba(128, 128, 128, 0.37);
}
.image img {
    transition: 0.5s all ease-out;
    position: absolute;
}
.entire_books:hover img {
    transform: scale(110%);
}
.entire_books .image {
    height: 170px;  
    position: relative;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.entire_books h2 {
    justify-self: center;
    padding: 10px;
    color: #1f2937;
    font-weight: 700px;
    font-size: 20px;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}
#bd {   
    margin-left: 20px;
    margin-top: 0px;
    padding-bottom: 10px;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    font-size: 15px;
    justify-self: left;
    align-self: center;
    color: #4b5563;
}
.vap {
    padding: 10px;
    background-color: #3f7863;
    border-radius: 8px;
    width: fit-content;
    justify-self: center;
    margin: 30px;
}
.vap a {
    color: white   ;
    padding: 20px;
    text-decoration: none;
    font-size: 14px;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}
/* .vap :hover {
    background-color: #3f7863e6;
    padding: 10px;
    background-color: #3f7863;
    border-radius: 8px;
    width: fit-content;
    justify-self: center;
    margin: 30px;
} */
.vap:hover {
    background-color: #3f7863e6;
}
#price_btn {
    display: flex;
    justify-content: space-around ; 
    align-items: center;
}
#price_btn button {
    padding: 10px;
    background-color: #3f7863;
    color: white   ;
    border-radius: 8px;
}
#price_btn button:hover {
    background-color: #3f7863e6;
}
#floatText {
    background-color: #3f7863;
    color: white;
    width: fit-content;
    padding: 5px;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 10px;
}
.menubar {
    position: absolute;
    /* top: 45px; */
    top: -700px;
    /* background: rgba(255, 255, 255, 0.3); */     /* transparent background */
    /* backdrop-filter: blur(10px);    */
    padding: 0px;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    z-index: -81;
    width: 100%;
    /* height: 100vh; */
    transition: 0.7s all ease-in-out;
}
.menubar ul li a {
    text-decoration: none;
    /* width: fit-content; */
    font-size: 16px;
    font-weight: 500;
    height: fit-content ;
    color: #374151;
}
.menubar ul li a:active {
    color: rgb(1, 4, 12);
}
.menubar ul li a:hover{
    color: #3f7863;
    /* background-color: #ffc642; */
    width: 100%;
}
.menubar ul li:hover {
    background-color: #ffc642;
    width: 100%;
}
.menubar ul li {
    margin-top: 20px;
    margin-right: 30px;
    width: 100%;
    padding: 5px;
}
.menubar ul {
    list-style: none;
    width: 100%;
    /* display: flex; */
    padding: 10px;
}
.nodisplay {
    display: none !important;
}
#openMenu {
    position: absolute;
    right: 10px;
}
.price {
    color: #3f7863;
    font-weight: 700;
    font-size: 22px;
}

@media screen and (max-width: 786px) {
    .nodisplay {
        display: none !important;
    }
    nav{
        justify-content: space-between;
    }
   .hero {
    display: block;
   } 
   .right_hero{
    display: none;
   }
   .featured_books {
    display: block;
   }
   .educational_section {
    padding: 20px 0px;
   }
   .romance_section {
    padding-bottom: 20px;
   }
   .footer_top {
    display: block;
   }
   .menu {
    display: block;
   }
    .line {
    background-color: #000000;
    width: 15px;
    height: 2px;
    margin: 2px;
   }
   .hero_header {
    display: block;
   }
   .search {
    justify-items: center;
   }
   .search input {
    align-self: center;
    width: 100%;
    margin-bottom: 15px;
   }
   .hero_header_nav {
    margin: 15px;
    width: fit-content;
    justify-self: center;
   }
   .hero_header_nav a {
    /* padding: 5px; */
   }
   .featured {
    padding: 0px 0px 0px 15px;
   }
   .inspirational_section, .educational_section, .romance_section {
    margin: 0px;
   }
   .hero_search {
   padding: 0px;
    }
    .sign_in_hero {
        width: 70%;
    }
    .form_order_history_account_stats_quick_actions {
        display: block;
    }
    .account_stats_and_quick_actions {
        margin: 10px 0px;
    }
    .account_stats {
        width: 100%;
        padding: 0px;
        margin: 0px;
    }
    .account_stats h3 {
        justify-self: center;
        padding: 20px;
    }
    .account_stats_content {
        padding: 10px;
    }
    .quick_actions {
        width: 100%;
        padding: 0px;
        margin: 10px 0px;
    }
    .quick_actions_head {
        width: 100%;
    }
    .quick_actions h3 {
        justify-self: center;
        padding: 15px;
    }
    .quick_actions_content {
        width: 100%;
    }
    .quick_actions_content div {
        justify-self: center;
    }
    #books {
        display: flex;
        flex-wrap: wrap;
    }
}